p {
    color:blue;
    letter-spacing:2px;

}
.mobilenet {
letter-spacing: 2px;
}
.google_lens {
    letter-spacing:2px;
}
.img {
    margin-top:10px;
    margin-bottom:10px;
    height:300px;
    border-radius:10px;
}
b{
    color:purple;
}
